* {
	box-sizing: border-box; /*fix the border size of the box*/
}
header{
	margin: auto;  /* take equal left and right margin */
	border: 2px solid blue;
	/*width: 50%;*/
}
img{
	margin: auto;
	width: 200px;
	display: block;
}

h1{
	font-family: Ubuntu, sans-serif, serif, Aerial;	
	margin: 30px;
	text-align: center;
}
.Image{
	width: 297px;
    display: block;
    margin: auto;
}
.box{
	border: 2px solid black;
	background-color: #b5b5b5;
	margin: 4px 0px;
	padding: 23px;
	width: 30%;
	display: inline-block;
}

.container{
	margin: auto;
	width: 1200px;
}