* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 4fr;
    grid-auto-rows: 2fr;
    grid-template-columns: 1fr 4fr 2fr;
    grid-gap: 1rem;
}

.box {
    background: aqua;
    border: 2px solid red;
}